.navigation {
  width: 33%;
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    padding-bottom: 1rem;
    &__item {
      margin-left: 2rem;
      &__input {
        padding: 0.5rem;
        margin-right: 0.5rem;
        border-radius: 1rem;
        outline: none;
        border: 1px solid transparent;
      }
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}