.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.films__titel {
  margin-bottom: 2.75rem;
  font-size: 1.375rem;
  text-align: left;
  font-weight: bold;
}
@media(min-width: 768) {
  .film__wrapper {
    margin: 0 auto;
    padding: 0 8.75rem;
    max-width: 102.625rem;
  }
}

@media(min-width: 290px) {
  .film__wrapper {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 102.625rem;
    margin-top: 4rem;
  }
}

