* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  text-align: center;
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;

}