@media(min-width: 280px) {
  .types {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 102.625rem;
    display: flex;
    justify-content: space-between;
    &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    &__item {
      
        font-weight: bold;
        font-family: 'Roboto';
        font-size: 1.375rem;
        cursor: pointer;
        &__active {
            color: red;
        }
      
    }
    }
  }
}
@media(min-width: 768px) {
.types {
  margin: 0 auto;
  padding: 0 8.75rem;
  max-width: 102.625rem;
  &__list {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  &__item {
    
      font-weight: bold;
      font-family: 'Roboto';
      font-size: 1.375rem;
      cursor: pointer;
      &__active {
          color: red;
      }
    
  }
  }
}
}

@media(min-width: 1024px) {
  .types {
    margin: 0 auto;
    padding: 0 8.75rem;
    max-width: 102.625rem;
    &__list {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    &__item {
      
        font-weight: bold;
        font-family: 'Roboto';
        font-size: 1.375rem;
        cursor: pointer;
        &__active {
            color: red;
        }
      
    }
    }
  }
  }